<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="FATAL">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5level [%d{HH:mm:ss.SSS}] [APP/%thread] - %msg%n"/>
        </Console>

        <Console name="ServerConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5level  [%d{HH:mm:ss.SSS}] [SRVR/%thread] - %msg%n"/>
        </Console>

        <Console name="DetailConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5level [%d{HH:mm:ss.SSS}] [%thread] %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Application Logging -->
        <Logger name="net.cydhra.quicksilver" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Server Logging -->
        <Logger name="Application" level="trace" additivity="false">
            <AppenderRef ref="ServerConsole"/>
        </Logger>

        <!-- Fallback Logging for modules not explicitly configured -->
        <Root level="info">
            <AppenderRef ref="DetailConsole"/>
        </Root>
    </Loggers>
</Configuration>
